# Archivo para especificar los archivos y carpetas que Git debe ignorar.

# Ignorar el directorio de dependencias de Composer.
# Estas se deben instalar en cada servidor con `composer install`.
/vendor/
/logs/
/apisutil/

# Ignorar los archivos de configuración de entorno locales.
# Estos contienen secretos y son específicos de cada máquina.
.env
.env.*
!.env.example

# Ignorar archivos de diagnóstico y temporales

